ul  {
    list-style: none;
}

a {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: table;
	width: 100px;
	margin-bottom: 30px;
}


a:hover, a:active {
    background-color: lawngreen;
}